body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #b83434 0%, #eae8e8 100%); /* Gradient background */
}

.container {
    height: 100%;
}

.form-container {
    width: 100%;
    width: 500px; /* Increased max-width */
    padding: 2rem;
    background: white; /* Background color for the form container */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Slight shadow for better visibility */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
}

.form-container h3 {
    margin-bottom: 2rem;
    text-align: center;
}

.form-group {
    margin-bottom: 1.5rem; /* Increased margin between form groups */
}

.btn {
    border-radius: 5px; /* Slightly rounded button corners */
}
